*{box-sizing: border-box;
margin: 0;
padding: 0;}
body{
        background: white;
}
.rainbow{
    height: 200px;
    overflow: hidden;
}
.rainbow div{
    overflow: hidden;
}
.rainbow > div{
     width: 400px;
    height:400px;
    background:hsl(0, 85%, 50%);
    border-radius:50%;
    }
.rainbow > div > div{
        height:380px;
    background:hsl(60, 85%, 50%);
    margin: 10px;
    border-radius:50%;
   }
.rainbow > div > div > div{
        height:360px;
    background:hsl(120, 85%, 50%);
    margin: 10px;
    border-radius:50%;
    }
.rainbow > div > div > div >div{
        height:340px;
    background:hsl(180, 85%, 50%);
    margin: 10px;
    border-radius:50%;
    }
.rainbow > div > div > div >div >div{
        height:320px;
    background:hsl(240, 85%, 50%);
    margin: 10px;
    border-radius:50%;
    }
.rainbow > div > div > div >div >div >div{
       height:300px;
    background:hsl(300, 85%, 50%);
    margin: 10px;
    border-radius:50%;
    }
.rainbow > div > div > div >div >div >div >div{
        height:280px;
    background:hsl(330, 85%, 50%);
    margin: 10px;
    border-radius:50%;
    }
.rainbow > div > div > div >div >div >div >div >div{
    height:260px;
    background:hsl(330, 85%, 100%);
    margin: 10px;
    border-radius:50%;
    }